*{
    margin: 0;
    padding: 0;
}

.logo{
    width: 100px;
    height: 50px;
}

.carousel{
    background-size: cover;
    background-repeat: no-repeat;
}


.navitems a{
    border: 2px solid white;
    margin-left: 20px ;
    border-radius: 15%;
}

.navitems a:hover{
    border: 2px solid aqua;
    border-radius: 25%;
    background-color: white;
    text-shadow: 1px 1px black;
}

.carousel2{
    height: 50%;
    width: 50%;
}

.carcontain{
    background-image: linear-gradient(white,rgb(148, 255, 255),white)
}