*{
    margin: 0;
    padding: 0;
}

.logo{
    width: 100px;
    height: 50px;
}

.carousel{
    background-size: cover;
    background-repeat: no-repeat;
}


.navitems a{
    border: 2px solid white;
    margin-left: 20px ;
    border-radius: 15%;
}

.navitems a:hover{
    border: 2px solid aqua;
    border-radius: 25%;
    background-color: white;
    text-shadow: 1px 1px black;
}

.content1:hover{
    transform: scale(1.05);
    transition-duration: 1s;
}

.content2:hover{
    transform: scale(1.05);
    transition-duration: 1s;
}

.content3:hover{
    transform: scale(1.05);
    transition-duration: 1s;
}

.carousel2{
    height: 50%;
    width: 50%;
    max-height: 450px;
    margin-bottom: 50px;
    overflow: hidden;
}

.carcontain{
    background-image: linear-gradient(white,rgb(148, 255, 255),white)
}

#footer{
    background-color: black;
    text-align: center;
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}